db/
incremental_db/
*.done
*.smsg
*.summary
*.sld
*.sof
*.jdi
*.pin
*.cdf
.qsys_edit/
tse_devboard_hps/
greybox_tmp/
*.xml
*.csv
*.txt
*.qws
*.srf
software/workspace_arm
software/spl_bsp
software/barem_arm/*.objdump
software/barem_arm/*.elfhead
software/barem_arm/*.elfsect
software/barem_arm/*.elfsymb
software/barem_arm/.settings
*.bin
*.axf
*.o
*.a
software/barem_arm/.cproject
software/barem_arm/.project
*.map
software/barem_arm/u-boot-spl
*.rar
*.bak
simulation/mii_tb_sim/work
*.wlf
simulation/mii_tb_sim/transcript
*.mti
*.mpf
*.rpt
*.tcl~
software/from_mitysom/
*.mp3
